* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom right, red, yellow);
}

h1 {
  text-align: center;
}
.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background: linear-gradient(to bottom left, gray, black);
}
@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: auto;
    border-radius: 1rem;
  }
}
